@model List<CampaignViewModel>
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Dashboard";
}

<div class="container mt-4">
    <div class="card mb-3 custom-bg">
        <h1 class="text-center mt-3 custom-title">My Campaigns</h1>

        <main role="main">
            <div class="row g-3">
                @foreach (var campaign in Model)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <a class="text-decoration-none" href="@Url.Action("Detail", "Campaigns", new { id = campaign.CampaignId })">
                                <img src="@campaign.ImageUrl" class="card-img-top img-fluid" alt="Campaign Image">
                                <div class="card-body">
                                    <h4 class="card-title">@campaign.Title</h4>
                                </div>
                            </a>
                            <div class="card-footer">
                                <small>@campaign.Engagement.LikesCount Likes</small><br>
                                <small>@campaign.Engagement.CommentsCount Comments</small>
                                <a class="text-decoration-underline small" href="@Url.Action("Edit", "Campaigns", new { id = campaign.CampaignId })">Modify >></a>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</div>