@model List<CampaignViewModel>
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Dashboard";
}

<h1 class="text-center">My Campaigns</h1>

<div class="container">
    <main role="main">
        <div class="row row-cols-1 row-cols-md-4 g-6">
            @foreach (var campaign in Model)
            {
                <div class="col">
                    <a class="text-decoration-none" href="@Url.Action("Edit", "Campaigns", new { id = campaign.CampaignId })">
                        <div class="card h-100">
                            <img src="@campaign.ImageUrl" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h4 class="card-header align-items-center">@campaign.Title</h4><br>
                                <p class="card-title">@campaign.Description</p>
                                @* <p class="card-text">@campaign.Content</p> *@
                                <p class="card-text">@campaign.CampaignType</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">@campaign.TeacherId</small>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>        
    </main>
</div>