@using EduHubLibrary.DataModels;
@model List<Interaction>

@foreach (var comment in Model)
{
    var usernames = ViewData["Users"] as Dictionary<int, string>;
    var userId = ViewData["UserId"] as string;

    <div class="card-body d-flex justify-content-between align-items-center">

        <div class="blockquote-footer custom-text">
            @usernames[comment.UserId]
            <div class="custom-title">
                @comment.Content
                <span class="custom-text"> - on @comment.InteractionDate.ToString("MMM dd, yyyy")</span>
            </div>
        </div>
        @if (userId == comment.UserId.ToString())
        {
            <button type="button" class="btn btn-danger btn-sm delete-comment" data-comment-id="@comment.InteractionId" data-campaign-id="@comment.CampaignId">Delete</button>
        }
    </div>
}